@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

div.minesweeper-board {
  background: #999;
  padding: 10px;
  border: 5px solid #939393;
}

div.grid-wrapper {
  background: #808080;
  padding-right: 3px;
  padding-bottom: 3px;
}

td.tile {
  height: 40px;
  width: 40px;
}

td[class="tile 1"] { 
  background: url('/tile-1.png');
  background-size: contain;
}

td[class="tile 2"] {
  background: url('/tile-2.png');
  background-size: contain;
}

td[class="tile 3"] {
  background: url('/tile-3.png');
  background-size: contain;
}

td[class="tile 4"] {
  background: url('/tile-4.png');
  background-size: contain;
}

td[class="tile 5"] {
  background: url('/tile-5.png');
  background-size: contain;
}

td[class="tile 6"] {
  background: url('/tile-6.png');
  background-size: contain;
}

td[class="tile 7"] {
  background: url('/tile-7.png');
  background-size: contain;
}

td[class="tile blank"] {
  background: url('/tile-blank.png');
  background-size: contain;
}

td[class="tile bomb"] {
  background: url('/tile-bomb.png');
  background-size: contain;
}

td[class="tile bomb-red"] {
  background: url('/tile-bomb-red.png');
  background-size: contain;
}

td[class="tile flag"] {
  background: url('/tile-flag.png');
  background-size: contain;
}

td[class="tile flag-red"] {
  background: url('/tile-flag-red.png');
  background-size: contain;
}

td[class="tile unknown"] {
  background: url('/tile-unknown-colored.png');
  background-size: contain;
  /* filter: hue-rotate(250deg) saturate(300%); */
  /* filter: hue-rotate(50deg) saturate(300%); */
}

div.face {
  height: 75px;
  width: 75px;
}

div[class="face happy"] {
  background: url('/face-happy.png');
  background-size: contain;
}

div[class="face sad"] {
  background: url('/face-sad.png');
  background-size: contain;
}

div[class="face cool"] {
  background: url('/face-cool.png');
  background-size: contain;
}
